annotated-types==0.7.0 ; python_version >= "3.10"
pydantic-core==2.20.1 ; python_version >= "3.10"
pydantic==2.8.2 ; python_version >= "3.10"
python-dotenv==1.0.1 ; python_version >= "3.10"
pyyaml==6.0.2 ; python_version >= "3.10"
toml==0.10.2 ; python_version >= "3.10"
typing-extensions==4.12.2 ; python_version >= "3.10"
